@charset "UTF-8";
/* Alabaster Incense. 2024-02-19 */
* {
  /* box sizing sets the total width and height of the page. */
  /* border box includes content, border and padding of the width and height properties.  */
  box-sizing: border-box; 
}

/* Body element */
html, body {
    position: absolute;
    height: 100%; 
    width: 100%; 
    overflow-x: hidden; /* specifics to clip content, add a scroll bar or display/hide overflow content (extra space). */
    font-family: 'Helvetica', sans-serif;
    scroll-behavior: smooth;
    background-color: #ede7e1;
    color: #73513d;
}
/* logo class */
.logo {
    position: absolute; 
    margin-left: 0px; 
    margin-top: 0px; 
}

/* logo image */ 
.logo img {
    height: 58px; 
    opacity: 1;
}

.hero-image { /*hero image for index*/
    height: 100%; 
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('images/alabaster_pour.jpg');
    background-size: cover;
    min-height: 10%;
    z-index: 2; /* z-index refers to property of stacked element. */
}
.hero-image2 { /* hero image for foundation */
    height: 100%;
    width: 1920px;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('images/stone.png');
    background-size: cover;
    min-height: 10%;
    z-index: 2; 
}
.hero-image3 { /* hero image for event page */
    height: 100%;
    width: 1920px;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('images/alabaster_oil2.jpg');
    background-size: cover;
    min-height: 10%;
    z-index: 2; 
}
.hero-image4 { /* hero image for health page */
    height: 100%;
    width: 1920px;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('images/cavern.jpg');
    background-size: cover;
    min-height: 10%;
    z-index: 2; 
}
.hero-image5 { /* hero image for garden page */
    height: 100%;
    width: 1920px;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('images/garden1.jpg');
    background-size: cover;
    min-height: 10%;
    z-index: 2;
    justify-content: center;
}
.hero-image6 { /* hero image for kitchen page */
    height: 100%;
    width: 1920px;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('images/kitchen.jpg');
    background-size: cover;
    min-height: 10%;
    z-index: 2; 
}
.hero-image7 { /* hero image for about us */
    height: 100%;
    width: 1920px;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('images/forest.jpg');
    background-size: cover;
    min-height: 10%;
    z-index: 2; 
}
.hero-image8 { /* hero image for contact us */
    height: 100%;
    width: 1920px;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('images/contact.jpg');
    background-size: cover;
    min-height: 10%;
    z-index: 2; 
}
.hero-image9 { /* hero image for products */
    height: 100%;
    width: 1920px;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('images/product.jpg');
    background-size: cover;
    min-height: 10%;
    z-index: 2; 
}
.hero-image10 { /* hero image for service */
    height: 100%;
    width: 1920px;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('images/service.jpg');
    background-size: cover;
    min-height: 10%;
    z-index: 2; 
}
.hero-image11 { /* hero image for gallery */
    height: 100%;
    width: 1920px;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('images/galleryhero.jpg');
    background-size: cover;
    min-height: 10%;
    z-index: 2; 
}
/* gallery images animation*/
/*This contains the gallery section contents*/
.textalign {
  text-align: center;
  border: 3px solid black;
  background-color: #d9b18c;
  font-family: 'Helvetica', sans-serif;
  margin-top:64px;
  margin-bottom:64px;
}
/*To give the images their dimensions and positions*/
div.gallery {
  border: 1px solid #d9b18c;
}
/*To give the images animations and appearance*/
div.gallery:hover {
  border: 3px solid #d9b18c;
}

div.gallery img {
  width: 100%;
  height: auto;
}
 div.gallery img:hover {
    transform: scaleX(+1);
  }
  div.gallery img {
  border-radius: 8px;
}

div.desc {
  padding: 15px;
  text-align: center;
}
/* Three image container */
* {
  box-sizing: border-box;
}
.column {
  float: left;
  width: 100%;
  padding: 0 8px;
  display: block;
}
.row {
  padding: 0 16px;
}
/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}
/* makes image zoom and full screen on click */
.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
}

@media only screen and (max-width: 1920px) {
  .responsive {
    width: 50%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}
/* Clears floats and exits after image zoom and fullscreen */
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
/* slogan */
.slogan, .h1, .p {
  color: #f5e9dc;
  text-shadow: 0 0 5px #73513d;  
  position: absolute; 
  text-align: center; 
  top: 50%; 
  left: 50%;  
  width: 100%; 
  transform: translate(-50%, -50%); /* Source w3schools. */
  z-index: 3; /* z-index refers to property of stacked element. */
}

/* h1 element located in slogan class */
.slogan h1 {
  color: inherit; 
  font-size: 6em;  
}

  /*animated words for ad space*/
  .animation {
    position: relative;
    background: #ccbfbc;
    color: #674C47;
    padding: .25em;
    animation: move-words 20s linear infinite;
    margin: 0;
}
@keyframes move-words {
  0% {
    left: 50%;
  }
  100% {
    left: -20%;
  }
}

/* media query for slogan .h1 */
@media all and (min-width: 414px) and (max-width: 767px) {
  .slogan h1 {
    padding-top: 25%; 
    font-size: 3.2em; 
  }
}

@media all and (min-width: 414px) and (max-width: 900px) {
  .slogan h1 {
    padding-top: 20%; 
    font-size: 3.2em; 
  }
}

/* paragraph element located in slogan class */
.slogan p {
    font-size: 1.5em; 
    font-style: italic; 
}

/* media query for slogan paragraph element */
@media all and (min-width: 414px) and (max-width: 767px) {
  .slogan p {
    font-size: 1.2em; 
  }
}

/* media query for slogan paragraph element */
@media all and (min-width: 414px) and (max-width: 900px) {
  .slogan p {
    font-size: 1.2em; 
  }
}
/* button arrow class */ 
.button-arrow { 
    position: absolute; 
    top: 80%; 
    left: 50%; 
    transform: translate(-50%, -80%); /* Source w3schools. */
}

/* media query for button arrow class */ 
@media all and (min-width: 414px) and (max-width: 767px) {
    .button-arrow {
      position: absolute; 
      padding-top: 25%;
      top: 70%;
      left: 50%;  
      transform: translate(-50%, -70%); /* Source w3schools. */
    }
}

/* media query for button arrow class */ 
@media all and (min-width: 414px) and (max-width: 900px) {
  .button-arrow {
    position: absolute; 
    padding-top: 25%;
    top: 72%;
    left: 50%;  
    transform: translate(-50%, -72%); /* Source w3schools. */
  }
}

/* button arrow img */ 
.button-arrow img {
    position: inherit; 
    height: 100px; 
}

/* media query for button arrow img */ 
@media all and (min-width: 414px) and (max-width: 767px) {
  .button-arrow img {
      position: inherit; 
      height: 80px; 
  }
}

/* media query for button arrow img */ 
@media all and (min-width: 414px) and (max-width: 900px) {
  .button-arrow img {
      position: inherit; 
      height: 70px; 
  }
}
main {
min-height: 100vh;
}

/* Footer style */

/* footer container */
.footer-container {
    position: relative;
    min-width: 100vh;
    padding-top: 190px;
    display: block; /* behaviour of the element */
}

/* footer */
footer { /*footer*/
    position: absolute; 
    margin: 0; 
    bottom: 0; 
    left: 0; 
    right: 0;
    padding: 17px;  
    width: 100%; 

    background-color: #d2b48c;/*Footer background colour*/
    color: #593402; 
    font-family: 'Helvetica';
    font-size: 1em;
    text-align: center; 
}

/* footer images (pngs) */
footer img {
    height: 25px; 
}

/* footer responsive media query */
@media all and (max-width: 580px) {
  .footer-container {
    position: relative;
    top: 0%;
    left: -10%;  
    transform: translate(-10%, 0%); /* Source w3schools. */
  }
}
.hide-icon {
  visibility:hidden;
}

.hide-list-point {
  list-style: none;
}

.location-name {
  font-weight: bold;
}

.services-list, .loc-list {
  display: inline-block;
}

.padding {
  padding:25px 16px;
}

.rw-row-padding{
  padding:0 8px
  }
/*Container holds teams section*/
.container {
  padding:128px 16px;
}

/*Make images and bio appear in column form*/

.image {
  display: block;
  width: 100%;
  height: 100%;
  border:5px outset silver;
}

.w3-sidebar.w3-bar-block.w3-black.w3-card.w3-animate-left.w3-hide-medium.w3-hide-large {
  display:none;
}

.w3-col.l3.m6.w3-margin-bottom {
  height: 200px;
}
.w3-row-padding {
  margin-top:64px;
  margin-bottom:200px;
  
}
/*Subscribe Page*/
.card12 { 
    float: center;
    background-color: #ccbfbc; 
    border-radius: 10px; 
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.4); 
    padding: 50px; 
    text-align: center; 
    max-width: 400px; 
} 
  
.container12 { 
    float: center;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
} 
  
h2 { 
    color: #674C47; 
    margin-bottom: 10px; 
} 
  
  
form { 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
} 
  
  
.msg { 
    display: none; 
    color: #674C47; 
    margin-top: 40px; 
} 
input[type="email"] { 
    width: 65%; 
    padding: 12px; 
    margin-bottom: 15px; 
    border: 1px solid #b8aa9c; 
    border-radius: 7px; 
} 
  
button { 
    background-color: tan; 
    color: #674C47; 
    padding: 10px 10px; 
    margin-top: 5px; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    transition: background-color 0.4s ease; 
} 
  
button:hover { 
    background-color: #b8aa9c; 
}
/*Each team member's column (card) has its own card for ease of editing and updating based on contents*/
div.card {
  float: center;
  width: 25%;
  height: 100%;
  padding: 0 8px;
  display: block;
  margin-bottom: -200px;
}
div.card1 {
  background-color: #85B4B4;
  height: 500px;
} 

div.card2 {
  width: 100%;
  height: 100%;
}
/*Gaps provide equal spacing for each card*/
div.cardgap1 {
  display: grid;
  grid-template-columns: auto;
  gap: 50px;
}
div.cardgap2 {
  display: grid;
  grid-template-columns: auto;
  gap: 30px;
}
div.cardgap3 {
  display: grid;
  grid-template-columns: auto;
  gap: 100px;
}
div.cardgap4 {
  display: grid;
  grid-template-columns: auto;
  gap: 98px;
}
/*This gives the heading for each section of the teams and projects pages their own style*/
.team {
  font-family: 'Helvetica', sans-serif;
}
/* Main css for the text alignment in the about page */
div.who {
  text-align: left;
  font-weight: bold;
  width: 75%;
  display: block;
  line-height: 2.0; 
  margin: 5%;
  padding-left: 12%;
  padding-top: 0.5%;
  padding-right: 12%;
  background: rgba(210,248,210, 0.1);
  background-position:center;  
}  

/* top nav class */
.topnav {
    background-color: #f5e9dc;
    overflow: hidden;
    padding: 4px; 
}

/* top nav a link */
.topnav a {
    float: right; 
    display: block; /* behaviour of the element */
    color: #73513d;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 15px;
}

/* active link */
.active {
    background-color: #85B4B4;
    color: #73513d;
}

/* dropdown icon */
.topnav .icon {
    display: none; /* behaviour of the element */
}

/* dropdown */
.dropdown {
    float: right;
    display: block; /* behaviour of the element */
    overflow: hidden;
}

/* dropdown button */
.dropdown .dropbtn {
    font-size: 15px;  
    border: none;
    outline: none;
    color: #73513d;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

/* dropdown content */
.dropdown-content {
  font-family: 'Helvetica', sans-serif;
  display: none; /* behaviour of the element */
  position: absolute;
  background-color: #f5e9dc;
  min-width: 173px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1; /* z-index refers to property of stacked element. */
}

/* dropdown content */
.dropdown-content a {
  font-family: 'Helvetica', sans-serif;
  float: none;
  color: #73513d;
  padding: 12px 16px;
  text-decoration: none;
  display: block; /* behaviour of the element */
  text-align: left;
}

/* dropdown hover */
.topnav a:hover, 
.dropdown:hover 
.dropbtn {
    font-family: 'Helvetica', sans-serif;
    background-color: #bfac97;
    color: white;
}

/* dropdown content */
.dropdown-content 
a:hover {
  font-family: 'Helvetica', sans-serif;
  background-color: #D2B48C;
  color: #73513d;
}

/* dropdown */
.dropdown:hover
.dropdown-content {
  display: block; /* behaviour of the element */
}

/* top nav responsive media query */
@media screen and (max-width: 905px) {
.topnav a:not(:first-child), .dropdown .dropbtn {
  display: none; /* behaviour of the element */
}

/* top nav icon */
.topnav a.icon {
  float: right;
  display: block; /* behaviour of the element */
}
}

/* top nav responsive media query */
@media screen and (max-width: 905px) {
.topnav.responsive {position: relative;}
.topnav.responsive .icon {
  position: absolute;
  right: 0;
  top: 0;
}

/* top nav responsive */
.topnav.responsive a {
  float: none;
  display: block; /* behaviour of the element */
  text-align: center;
}

/* top nav responsive */
.topnav.responsive .dropdown {float: none;}
.topnav.responsive .dropdown-content {position: relative;}
.topnav.responsive .dropdown .dropbtn {
  display: block; /* behaviour of the element */
  width: 100%;
  text-align: center;
}
}
